<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- /End Preloader -->


<app-header></app-header>

<!-- Sử dụng router outlet để hiển thị component theo route -->
<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>