body{
    margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumbs {
        padding: 30px;
    }
}
.align-items-center {
    align-items: center !important;
}
.breadcrumbs .breadcrumbs-content {
    position: relative;
    text-align: left;
}
.breadcrumbs .breadcrumb-nav {
    text-align: right;
}